body, html, div, dl, dt, dd, ul, li, ol, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, p, th, td, a, img, span {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: tahoma,arial,\5b8b\4f53,sans-serif;
}
body, html {
    overflow-x: hidden;
}